body {
  overflow-x: hidden;
  // background-color: #26262a;
}

.navbar-align {
  text-align: center;
}

.background {
  height: 100vh;
  background-size: 100% 100%;
}

.background-img {
  background-image: image-url("mountain-background.jpg");
}

.about-content {
  margin-top: 60px;
  width: 97%;
  text-align: justify;
}

.self-img {
  width: 100%;
  height: 100%;
}

.card {
  margin-top: 150px;
}

.project-cards {
  // border-width: 1px;
  // border-style: solid;
  // border-color: #efefef;
  // border-radius: 3px;
  // width: 500px;
  // height: 300px;
  // margin: 5px;
//   padding: 20px;
}

// a.project-cards,
// a.project-cards:hover {
//   color: inherit;
// }


// .card-text {
//   border-style: solid;
//   border-width: 1px;
//   padding: 5px;
//   text-align: center;
// }

.contact-form {
  // border-style: solid;
  // border-width: 1px;
} .contact-title {
    margin-top: 150px;
    text-align: center;
}

// input {
//   display: block;
//   margin-bottom: 10px;
//   margin-right: 10px;
// }

.heading1 {
  display: flex;
  justify-content: space-evenly;
  margin: 15px;
}

.heading2 {
  display: flex;
  justify-content: center;
}

// .email {
//   width: 550px;
// }
//
// .subject {
//   width: 550px;
// }

.footer {
  margin-top: 45px;
  margin-bottom: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
}

.footer small {
  float: left;
}

.social-media {
  float: right;
  margin-bottom: 20px;
}
