<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to 'HOME', '#home', class:'nav-link' %>
        </li>
        <li class="nav-item active">
          <%= link_to 'ABOUT', '#about', class:'nav-link' %>
        </li>
        <li class="nav-item active">
          <%= link_to 'PROJECTS', '#projects', class:'nav-link' %>
        </li>
        <li class="nav-item active">
          <%= link_to 'CONTACT', '#', class:'nav-link' %>
        </li>
      </ul>
  </div>
</nav>
