---
title: Matthew D. Frazier - Portfolio
---
<!-- <div id="home"> -->
  <div id="home" class="background background-img">
    <div class="container" style="padding-top: 6%;">
      <h1 style="font-size: 80px;">Matthew D. Frazier</h1>
      <p style="font-style: italic; font-size: 40px;">--Web Developer</p>

    </div>
  </div>
<!-- </div> -->


<!-- link_to 'MDF', '#', class:'navbar-brand' -->


<!-- <div id="about"> -->
  <div id="about" class="row">
    <div class="col-xs-12 col-lg-6">
      <div><%= image_tag "images/matt-img.jpg", class:"self-img" %></div>
    </div>
    <div class="col-lg-6">
      <div class="container">
        <div class="about-content">
          <p>
            31 year old American currently residing in Tokyo, Japan. I've been
            here for about six years, not including my student exchange experience.
          </p>
          <p>
            Since I graduated university I've been teaching English in Japan
            since 2013 in various places. However in the last year or two I've
            really been focusing on getting out of the education industry.
          </p>
          <p>
            It's because of one of the friends I made living in Aormori, Japan
            that I became interested in programming and now, after a lot of self
            studying, I'm actively searching for webdevelopment positions in
            Tokyo.
          </p>
          <p>
            I'm able to speak Japanese to a JLPT N3 level and do intend on
            obtaining the N1 certification once I've successfully transitioned
            careers.
          </p>
          <p>
            I'm very interested in weight training and fitness and have always
            strived to improve myself not only physically, but also mentally.
          </p>
          <h1>Skills</h1>
          <ul>
            <li>Ruby</li>
            <li>Ruby on Rails</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>SQL</li>
            <li>JavaScript</li>
            <li>Bootstrap</li>
            <li>Middleman</li>
            <li>Git</li>
            <li>GitHub</li>
          </ul>
          <h1>Education</h1>
          <ul>
            <li>Coding Bootcamp Le Wagon
              Intensive nine week full stack programming bootcamp.
              Topics covered include, but not limited to:
              Ruby, Ruby on Rails, MySQL, PosgreSQL, JavaScript, and HTML/CSS.
            </li>
            <li>Kyoto Institute of Culture and Language
              Intensive Japanese Language School.
              Expectations included, but not limited to:
              • Speak with instructors as well as fellow classmates in Japanese.
              • Write reports in Japanese (including kanji) once a week without the assistance
              of a dictionary.
            </li>
            <li>Aoyama Gakuin University, Exchange Student
              One year of study as an exchange student to fulfill a study abroad requirement for
              home university.
              Primary focus of study was Japanese.
            </li>
            <li>Wichita State University, Bachelor of Business
              Administration
              Major area of study: International Business.
              Minor area of study: Management.
            </li>
            <li>Butler Community College, Associate in Applied Science
              Major area of study: Fire Science.
              Minor area of study: Emergency Medicine.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->

      <!-- <img src="https://s.abcnews.com/images/Lifestyle/puppy-ht-3-er-170907_4x3_992.jpg"class="project-cards"> -->

<div id="projects" class="row" style="display: flex; justify-content: space-evenly; text-align: center;">

  <div class="col-xs-12 col-med-3 col-lg-3" style="display: flex; justify-content: space-evenly;">
    <a href="http://alpha-blog-mdf.herokuapp.com/" target="blank">
    <div class="card" style="width: auto;">
      <img src="images/alphablog.jpg" class="card-img-top" alt="">
      <div class="card-body">
        <p class="card-text">Blogging application.</p>
      </div></a>
    </div>
  </div>

<!--
  <div class="col-xs-12 col-med-3 col-lg-3" style="display: flex; justify-content: space-evenly;">
    <div class="card" style="width: auto;">
      <img src="https://s.abcnews.com/images/Lifestyle/puppy-ht-3-er-170907_4x3_992.jpg" class="card-img-top" alt="">
      <div class="card-body">
        <p class="card-text">Project title and description.</p>
      </div>
    </div>
  </div>


  <div class="col-xs-12 col-med-3 col-lg-3" style="display: flex; justify-content: space-evenly;">
    <div class="card" style="width: auto;">
      <img src="https://s.abcnews.com/images/Lifestyle/puppy-ht-3-er-170907_4x3_992.jpg" class="card-img-top" alt="">
      <div class="card-body">
        <p class="card-text">Project title and description.</p>
      </div>
    </div>
  </div> -->

</div>


<div id="contact">
  <div align="center">
    <p>Below you will find my links to my social media pages where you can contact me.</p>
  </div>
</div>
