---
title: Welcome to Middleman
---

<div class="background background-img">
  <h1>Matthew D. Frazier</h1>
</div>

<%# <%= image_tag 'images/mountain-background.jpg', class:'background-img' %> %>


<%# <%= link_to 'MDF', '#', class:'navbar-brand'%> %>
